.row__container {
    margin-left: 20px;
    color: white;
}

.card {
    background-color: #111;
}

.card-img-top {
    transition: transform 450ms;
    cursor: pointer;
    min-height: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.card-img-top:hover {
    transform: scale(1.09);
}